<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>FlashMall</title>
  </head>
  <body class="sm:h-full sm:flex sm:justify--center">
    <div
      id="app"
      class="relative sm:w-[375px] w-full m-auto sm:h-[90%] lg:h-[80%] h-full overflow-hidden md:rounded-xl select-none bg-gradient-to-b from-primary-008/[1] to-from-primary-009 text-sm font-Sans font-medium"
    ></div>
    <script type="module" src="/src/main.ts"></script>
    <% if (ENABLE_ERUDA === "true") { %>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
      eruda.init();
    </script>
    <% } %>
  </body>
</html>
